// Body
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$light-gray: #ECEFF1;

$gray: #222;

$white: #fff;

$orange:#FF6600;

$green: #008673;

// Typography
$font-family-site: 'Open Sans', sans-serif;

$font-size-site: 14px;

$line-height-base: 1.6;

$banner-height: 500px;

$blue:rgb(58, 78, 88);

$price-font: 'Roboto Condensed', sans-serif;